
.wp-tabbed-tabs {

    .wp-tabbed-nav {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 0px;
        display: block;
        width: 100%;
        max-width: 100%;
        li {
            list-style: none;
            margin: 0px;
            display: inline-block;
            white-space: nowrap;
            width: auto;;
            background: #f5f5f5;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #ededed;
            margin-right: -1px;
            border-bottom: 0px;
            position: relative;
            &:last-child {

            }
            &.tab-active {
                background: #FFFFFF;
                &:after {
                    background: #FFFFFF;
                    height: 1px;
                    width: 100%;
                    display: block;
                    position: absolute;
                    bottom: -1px;
                    z-index: 9;
                    content: " ";
                }
            }
            a {
                display: inline-block;
                font-size: 14px;
                padding: 10px 15px;
                width: 100%;
                max-width: 100%;
                height: 100%;
                vertical-align: middle;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                text-decoration: none;
            }
        }
    }
    .wp-tabbed-contents {
        border: 1px solid #ededed;
        padding: 10px;
        display: block;
        .wp-tabbed-cont {
            display: none;
            &.tab-active {
              display: block;
            }
        }
    }
    .tab-c-e-title {
        display: none;
    }
    .widget-title {
        display: none;
    }
    .widget {
        margin-bottom: 0px;
        margin-top: 0px;
    }



}
