/* line 1, admin.scss */
.wp-tw-tabs {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
/* line 5, admin.scss */
.wp-tw-tabs .wp-tw-nav {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #CCCCCC;
  display: block;
}
/* line 11, admin.scss */
.wp-tw-tabs .wp-tw-nav:after {
  clear: both;
  content: " ";
  display: block;
}
/* line 16, admin.scss */
.wp-tw-tabs .wp-tw-nav li {
  display: inline-block;
  border: 1px solid #CCCCCC;
  margin-right: -1px;
  padding: 5px 10px;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: -1px;
  background: #FAFAFA;
  float: left;
  position: relative;
}
/* line 28, admin.scss */
.wp-tw-tabs .wp-tw-nav li:last-child {
  border-right: 1px solid #CCCCCC;
}
/* line 31, admin.scss */
.wp-tw-tabs .wp-tw-nav li .dashicons {
  vertical-align: middle;
}
/* line 34, admin.scss */
.wp-tw-tabs .wp-tw-nav li.add-new-tab {
  cursor: pointer;
  float: right;
  margin-right: 0px;
}
/* line 39, admin.scss */
.wp-tw-tabs .wp-tw-nav li.wp-tw-title {
  padding-right: 30px;
}
/* line 41, admin.scss */
.wp-tw-tabs .wp-tw-nav li.wp-tw-title a {
  display: inline-block;
  height: 22px;
  width: 22px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  color: #f93218;
}
/* line 51, admin.scss */
.wp-tw-tabs .wp-tw-nav li.wp-tw-title a.wp-tw-remove {
  top: 4px;
}
/* line 57, admin.scss */
.wp-tw-tabs .wp-tw-nav li span {
  display: inline-block;
}
/* line 61, admin.scss */
.wp-tw-tabs .wp-tw-nav li.nav-active {
  background: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
/* line 69, admin.scss */
.wp-tw-tabs .wp-tw-tab-content {
  padding: 10px;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  display: none;
}
/* line 75, admin.scss */
.wp-tw-tabs .wp-tw-tab-content.tab-active {
  display: block;
}
