/* line 1, sass/admin.scss */
.wp-tw-tabs {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
/* line 5, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #CCCCCC;
  display: block;
}
/* line 11, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav:after {
  clear: both;
  content: " ";
  display: block;
}
/* line 16, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li {
  display: inline-block;
  border: 1px solid #CCCCCC;
  margin-right: -1px;
  padding: 5px 10px;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: -1px;
  background: #FAFAFA;
  float: left;
  position: relative;
  position: relative;
}
/* line 29, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li:last-child {
  border-right: 1px solid #CCCCCC;
}
/* line 34, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li:before {
  height: 1px;
  width: 1px;
  display: block;
  content: ' ';
  position: absolute;
  background: #CCCCCC;
  bottom: -1px;
  left: -1px;
}
/* line 45, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li .dashicons {
  vertical-align: middle;
}
/* line 48, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li.add-new-tab {
  cursor: pointer;
  float: right;
  margin-right: 0px;
}
/* line 53, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li.wp-tw-title {
  padding-right: 30px;
}
/* line 55, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li.wp-tw-title a {
  display: inline-block;
  height: 22px;
  width: 22px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  color: #f93218;
}
/* line 65, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li.wp-tw-title a.wp-tw-remove {
  top: 4px;
}
/* line 71, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li span {
  display: inline-block;
}
/* line 75, sass/admin.scss */
.wp-tw-tabs .wp-tw-nav li.nav-active {
  background: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
/* line 83, sass/admin.scss */
.wp-tw-tabs .wp-tw-tab-content {
  padding: 10px;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  display: none;
}
/* line 89, sass/admin.scss */
.wp-tw-tabs .wp-tw-tab-content.tab-active {
  display: block;
}
/* line 92, sass/admin.scss */
.wp-tw-tabs .wp-tw-tab-content::after {
  clear: both;
  content: " ";
  display: block;
}
/* line 96, sass/admin.scss */
.wp-tw-tabs .tabbed-widget-settings {
  clear: both;
}
/* line 100, sass/admin.scss */
.wp-tw-tabs .no-tabs {
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  padding: 15px 10px 10px;
}
/* line 106, sass/admin.scss */
.wp-tw-tabs .not-settings {
  margin-top: 15px;
}
/* line 109, sass/admin.scss */
.wp-tw-tabs .warning {
  background: #fcf8e3;
  border: 1px solid #faebcc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a6d3b;
  padding: 15px;
}
