.wp-tabbed-tabs {
    border: 1px solid #ededed;
    .wp-tabbed-nav {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 0px;
        border-bottom: 1px solid #ededed;
        display: flex;

        width: 100%;
        overflow: auto;
        max-width: 100%;
        li {
            flex: 1 auto;
            list-style: none;
            margin: 0px;
            display: inline-block;
            white-space: nowrap;
            width: auto;;
            background: #f5f5f5;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #ededed;
            margin-bottom: -1px;
            &:last-child {
                border-right: 0px none;
            }
            &.tab-active {
                background: #FFFFFF;
            }
            a {
                display: inline-block;
                font-size: 14px;
                padding: 5px 15px;
                width: 100%;
                max-width: 100%;
                height: 100%;
                vertical-align: middle;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                text-decoration: none;
            }
        }
    }
    .wp-tabbed-contents {
        padding: 10px;
        display: block;
        .wp-tabbed-cont {
            display: none;
            &.tab-active {
              display: block;
            }
        }
    }
    .tab-c-e-title {
        display: none;
    }



}