/* line 1, tabbed.scss */
.wp-tabbed-tabs {
  border: 1px solid #ededed;
}
/* line 3, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
  border-bottom: 1px solid #ededed;
  display: flex;
  width: 100%;
  overflow: auto;
  max-width: 100%;
}
/* line 14, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li {
  flex: 1 auto;
  list-style: none;
  margin: 0px;
  display: inline-block;
  white-space: nowrap;
  width: auto;
  background: #f5f5f5;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #ededed;
  margin-bottom: -1px;
}
/* line 26, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li:last-child {
  border-right: 0px none;
}
/* line 29, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li.tab-active {
  background: #FFFFFF;
}
/* line 32, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li a {
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
}
/* line 48, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-contents {
  padding: 10px;
  display: block;
}
/* line 51, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-contents .wp-tabbed-cont {
  display: none;
}
/* line 53, tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-contents .wp-tabbed-cont.tab-active {
  display: block;
}
/* line 58, tabbed.scss */
.wp-tabbed-tabs .tab-c-e-title {
  display: none;
}
