/* line 4, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
  display: block;
  width: 100%;
  max-width: 100%;
}
/* line 12, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li {
  list-style: none;
  margin: 0px;
  display: inline-block;
  white-space: nowrap;
  width: auto;
  background: #f5f5f5;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ededed;
  margin-right: -1px;
  border-bottom: 0px;
  position: relative;
}
/* line 28, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li.tab-active {
  background: #FFFFFF;
}
/* line 30, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li.tab-active:after {
  background: #FFFFFF;
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -1px;
  z-index: 9;
  content: " ";
}
/* line 41, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-nav li a {
  display: inline-block;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
}
/* line 57, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-contents {
  border: 1px solid #ededed;
  padding: 10px;
  display: block;
}
/* line 61, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-contents .wp-tabbed-cont {
  display: none;
}
/* line 63, sass/tabbed.scss */
.wp-tabbed-tabs .wp-tabbed-contents .wp-tabbed-cont.tab-active {
  display: block;
}
/* line 68, sass/tabbed.scss */
.wp-tabbed-tabs .tab-c-e-title {
  display: none;
}
/* line 71, sass/tabbed.scss */
.wp-tabbed-tabs .widget-title {
  display: none;
}
/* line 74, sass/tabbed.scss */
.wp-tabbed-tabs .widget {
  margin-bottom: 0px;
  margin-top: 0px;
}
