.wp-tw-tabs {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    .wp-tw-nav {
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #CCCCCC;

        display: block;
        &:after {
            clear: both;
            content: " ";
            display: block;
        }
        li {
            display: inline-block;
            border: 1px solid #CCCCCC;
            margin-right: -1px;
            padding: 5px 10px;
            line-height: 1.6;
            font-size: 14px;
            margin-bottom: -1px;
            background: #FAFAFA;
            float: left;

            position: relative;
            &:last-child {
               border-right: 1px solid #CCCCCC;
            }
            .dashicons {
                vertical-align: middle;
            }
            &.add-new-tab {
                cursor: pointer;
                float: right;
                margin-right: 0px;
            }
            &.wp-tw-title {
                padding-right: 30px;
                a {
                    display: inline-block;
                    height: 22px;
                    width: 22px;
                    text-align: center;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    text-decoration: none;
                    color: #f93218;
                    &.wp-tw-remove {
                        top: 4px;
                    }
                }
            }

            span {
                display: inline-block;
            }

            &.nav-active {
                background: #FFFFFF;
                border-bottom-color: #FFFFFF;
            }

        }
    }

    .wp-tw-tab-content {
        padding: 10px;
        border-left: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        display: none;
        &.tab-active {
            display: block;
        }
        &::after {
            clear: both; content:  " "; display: block;
        }
    }
    .tabbed-widget-settings {
        clear:  both;
    }

}
